@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';
@import 'themes/nature-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/static/about/about.component.scss-theme';
@import 'app/applications/notifications/components/notifications.component.scss-theme';
@import 'app/applications/todos/components/todos-container.component.scss-theme';
@import 'app/applications/stock-market/components/stock-market-container.component.scss-theme';
@import 'app/applications/theming/parent/parent.component.scss-theme';
@import 'app/applications/theming/child/child.component.scss-theme';
@import 'app/applications/applications/applications.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include aofront-styles-reset-theme($theme);
  @include aofront-app-component-theme($theme);
  @include aofront-about-component-theme($theme);
  @include aofront-big-input-component-theme($theme);
  @include aofront-notifications-component-theme($theme);
  @include aofront-todos-container-component-theme($theme);
  @include aofront-stock-market-container-component-theme($theme);
  @include aofront-parent-component-theme($theme);
  @include aofront-child-component-theme($theme);
  @include aofront-applications-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($aofront-theme);
  @include custom-components-theme($aofront-theme);
}

.light-theme {
  @include angular-material-theme($aofront-light-theme);
  @include custom-components-theme($aofront-light-theme);
}

.black-theme {
  @include angular-material-theme($aofront-black-theme);
  @include custom-components-theme($aofront-black-theme);
}

.nature-theme {
  @include angular-material-theme($aofront-nature-theme);
  @include custom-components-theme($aofront-nature-theme);
}

mat-card {
  margin-bottom: 16px;
  width: 95%;
}

.hidden {
  display: none !important;
}
